<!DOCTYPE html>
<html>
<head>
    <title>Dados em Tempo Real</title>
    <script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
</head>
<body>

<h2>Monitoramento em Tempo Real</h2>

<p>Temperatura: <span id="temp">--</span> °C</p>
<p>BPM: <span id="bpm">--</span></p>
<p>SpO₂: <span id="spo2">--</span> %</p>

<a href="/historico">Ver histórico</a>

<script>
    const socket = io();

    socket.on("novo_dado", (d) => {
        document.getElementById("temp").innerText = d.temp;
        document.getElementById("bpm").innerText = d.bpm;
        document.getElementById("spo2").innerText = d.spo2;
    });
</script>

</body>
</html>
